@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300&display=swap");
#botonera img {
  width: 180px; }

.bg-white {
  background-color: #f2f2f2; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: var(--paddingsecciones); }

.center {
  text-align: center; }

.hero {
  height: 500px;
  background-image: url(../img/fondosi.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }

.contenedor-textos {
  padding: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue; }

.hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px; }

.hero p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px; }

.boton {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #8c2574;
  color: aliceblue;
  text-decoration: none;
  border-radius: 20px; }

.titulo-seccion {
  text-align: center;
  font-size: 35px;
  color: #8c2574; }

.copy {
  text-align: center;
  color: #777777;
  margin: 20px 0; }

.beneficios {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .beneficios .beneficio {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../img/motorola.png);
    background-size: cover;
    background-position: center;
    color: #8c257e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }
  .beneficios .beneficio2 {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../img/motorola.png);
    background-size: cover;
    background-position: center;
    color: #8c257e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }
  .beneficios .beneficio3 {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../img/motorola.png);
    background-size: cover;
    background-position: center;
    color: #790766;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; }

.proyects {
  background: #f2f2f2; }

.contenedor-imagenes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.contenedor-imagenes img {
  display: block;
  width: 30%;
  box-shadow: 0 0 8px black;
  margin-bottom: 40px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.hero2 {
  height: 500px;
  background-image: url(../img/veremosquesale.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }

.hero2 h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px; }

.hero2 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px; }

.video {
  width: 100%;
  height: 100%; }

.figure {
  display: flex; }

.contenedor-textos2 {
  padding: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777777;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 20px; }

.hero3 {
  height: 500px;
  background-image: url(../img/fondo-para-prod.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }

.hero3 h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px; }

.hero3 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px; }

.hero4 {
  height: 500px;
  background-image: url(../img/fondoparaprobar2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }

.hero4 h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px; }

.hero4 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px; }

footer .titulo-seccion {
  color: #8c2574; }

footer .copy {
  color: black; }

.redes-sociales {
  display: flex;
  justify-content: center; }

.redes-sociales i {
  font-size: 30px;
  padding: 0 20px 0 20px; }

/*===================== Grid De Productos =====================*/
.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "b" "main" "video" "pie"; }

.header {
  grid-area: header; }

.b {
  grid-area: b; }

.main {
  grid-area: main; }

.video {
  grid-area: video; }

.footer {
  grid-area: pie; }

/*===================== Media queries productos =====================*/
@media (min-width: 768px) {
  .contenedor-grid {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    grid-template-areas: "header header" "b main" "video video" "pie pie"; }
  .video {
    width: 100%;
    height: 1200px; } }

@media (min-width: 1024px) {
  .contenedor-grid {
    grid-template-columns: 15vw 55vw 30vw;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "b main video" "b main video" "pie pie pie"; }
  .enlaces li {
    margin: 0 20px; }
  .menu-navegacion {
    flex-direction: row;
    justify-content: space-between; }
  .video {
    width: 100%;
    height: 1216px; } }

article img {
  width: 100%;
  height: 50%; }

/*===================== Grid De Index/Contacto/Quienes somos =====================*/
.contenedor-grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }

.header2 {
  grid-area: header; }

.main2 {
  grid-area: main; }

.footer2 {
  grid-area: footer; }

/*===================== Media queries Index/Contacto/Quienes somos =====================*/
@media (min-width: 1024px) {
  .menu-navegacion {
    flex-direction: row;
    justify-content: space-between; } }

/*===================== Grid De Ofertas =====================*/
.contenedor-grid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "aside" "footer"; }

.header3 {
  grid-area: header; }

.main3 {
  grid-area: main; }

.aside3 {
  grid-area: aside; }

.footer3 {
  grid-area: footer; }

/*===================== Media queries Ofertas =====================*/
@media (min-width: 1024px) {
  .menu-navegacion {
    flex-direction: row;
    justify-content: space-between; } }

/*===================== transformaciones =====================*/
.scale:hover {
  transform: scale(1.09);
  cursor: pointer;
  transition: 0.5s; }

.enlaces li :hover {
  width: 100%;
  border-radius: 25%; }
