@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300&display=swap');

//fonts
$mainFonts: 'Roboto', sans-serif;
$secondaryFonts: 'Lato', sans-serif;

//text sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

//font - weight
$bold:400;
$regular:300;
$light:100;


