//footer
footer .titulo-seccion{
    color:#8c2574;
}
footer .copy{
    color: black;
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    font-size: 30px;
    padding: 0 20px 0 20px;
}