//footer
footer .titulo-seccion{
    color:$colortitulos;
}
footer .copy{
    color:$color3;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.redes-sociales li a i{
    font-size: 30px;
    padding: 0 20px 0 20px;
    color: black;
}