//hero
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: $paddingsecciones
}

.center{
    text-align: center;
}

.hero{
    height: 500px;
    background-image: url(../img/fondosi.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $colorletraboton;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color:$colorbotones;
}

.copy{
    text-align: center;
    color:$colortextos;
    margin: 20px 0;
}

.beneficios{
    padding-top:40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
        .beneficio{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
        .beneficio2{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
        .beneficio3{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
}

//proyects

.proyects{
    background: $color1
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px $color2;
    margin-bottom: $marginelementos;
}