//hero
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: $paddingsecciones
}

.center{
    text-align: center;
}

.hero{
    @include hero(url(../img/fondosi.png));
    .hero h1{
        @include heroh1(700);
        .hero p{
            @include herop(400);
        }
    }
}

.contenedor-textos{
    @include contenedor-texto
}

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color:$colorbotones;
}

.copy{
    text-align: center;
    color:$colortextos;
    margin: 20px 0;
}

.beneficios{
    padding-top:40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
        .beneficio{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
        .beneficio2{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
        .beneficio3{
            @include circulo(20px, 10em, 10em, url(../img/motorola.png), center, #8c257e);
        }
}

//proyects

.proyects{
    background: $color1
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px $color2;
    margin-bottom: $marginelementos;
}