//extends
.boton{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: $paddingboton;
    background-color: $colorbotones;
    color: $colorletraboton;
    text-decoration: none;
    border-radius: 20px;
    &:hover{
        background-color: $colorhover;
        color: $color3;
    }
}

//mixins
@mixin circulo($font-size, $width, $height, $background-image, $background-position, $color){
    font-size:$font-size;
    width: $width;
    height: $height;
    background-image:$background-image;
    background-size: cover;
    background-position: $background-position;
    color: $color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin hero($background-image){
    height: 500px;
    background-image: $background-image;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

@mixin heroh1($font-weight){
font-size: 36px;
font-weight:$font-weight;
margin-bottom: 30px;
}

@mixin herop($font-weight) {
    font-size: 20px;
    font-weight:$font-weight;
    margin-bottom: 40px;
}

@mixin contenedor-texto(){
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $colorletraboton;
}

@mixin contenedor-texto2($color){
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:$color;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 20px;
}