.hero3{
    @include hero(url(../img/fondo-para-prod.png));
    .hero3 h1{
        @include heroh1(700);
        .hero3 p{
            @include herop(400);
        }
    }
}
.beneficios{
    padding-top:$marginelementos;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .beneficio4{
        @include circulo(20px, 10em, 10em, url(../img/claro.png), center, #8c257e);
    }
    .beneficio5{
        @include circulo(20px, 10em, 10em, url(../img/movistar.png), center, #8c257e);
    }
    .beneficio6{
        @include circulo(20px, 10em, 10em, url(../img/personal.png), center, #8c257e);
    }
}