.hero2{
    @include hero(url(../img/veremosquesale.jpg));
    .hero2 h1{
        @include heroh1(700);
        .hero2 p{
            @include herop(400);
        }
    }
}

.video{
    width: 100%;
    height: 100%;
}

.figure{
    display: flex;
}

.contenedor-textos2{
    @include contenedor-texto2($colortextos)
}
