.hero4{
    height: 500px;
    background-image: url(../img/fondoparaprobar2.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.hero4 h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero4 p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}