//variables globales
$colortitulos:#8c2574;
$colortextos: #777777;
$colorbotones: #8c2574;
$colorhover: #661a56;
$colorfondo: #a381f2;
$colorletraboton: aliceblue;
$color1: #f2f2f2;
$color2: rgb(0, 0, .4);
$color3: black;
$paddingsecciones: 60px 0;
$paddingboton: 15px 0;
$marginelementos: 40px

